$light-grey: #F5F5F5;
$dark-grey: #E0E0E0;
$high-light-text-grey: #AAA;
$light-text-grey: #888;
$dark-text-grey: #555;
$content-width: 900px;
$sidebar-dark-grey: #272727;

.hover-pointer:hover {
  cursor: pointer;
}
